/* Type your CSS code here. */
/* 一時ボタン用 */
.temp_checkbox {
    display: none;
}

    .temp_checkbox[type=checkbox] + label {
        color: gainsboro;
        font-weight: normal;
    }

    .temp_checkbox[type=checkbox]:checked + label {
        color: black;
        font-weight: bold;
    }

/* 長いカッコを隠すボタン用 */
.folding_box {
    color: darkgray;
}

    .folding_box > input[type=checkbox] {
        display: none;
    }

        .folding_box > input[type=checkbox] + span {
            display: none;
        }

        .folding_box > input[type=checkbox]:checked + span {
            display: inline;
            color: black;
        }

/* 折り畳み機能で暗記ノートの機能が破壊されるので実装しなおし　*/
.span-memory-label > input[type=checkbox] {
    display: none;
}

    .span-memory-label > input[type=checkbox] ~ span {
        color: #dd0000;
        background-color: #dd0000;
    }

    .span-memory-label > input[type=checkbox]:checked ~ span {
        color: black;
        background-color: transparent;
        border-color: #dd0000;
    }

/* 老眼対策のため行間を広げる */
.redactor-editor * {
    line-height: 1.8em !important;
}
