/* Type your CSS code here. */
/* 一時ボタン用 */
.temp_checkbox {
    display: none;
}

.temp_checkbox[type=checkbox] + label {
    color: gainsboro;
    font-weight: normal;
}

.temp_checkbox[type=checkbox]:checked + label {
    color: black;
    font-weight: bold;
}

/* 長いカッコを隠すボタン用 */
.folding_box {
    color: darkgray;
}

.folding_box > input[type=checkbox] {
    display: none;
}

.folding_box > input[type=checkbox] + span {
    display: none;
}

.folding_box > input[type=checkbox]:checked + span {
    display: inline;
    color: black;
}

.redactor-editor *{
    line-height: 1.8em !important;
}
