/* Type your CSS code here. */
/* 一時ボタン用 */
.temp_checkbox.mark {
    color: gainsboro;
    font-weight: normal;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.temp_checkbox.mark.touch{
    color: black;
    font-weight: bold;
}

.temp_checkbox.strikeline {
    text-decoration-line: initial;
    color: black;
}
.temp_checkbox.strikeline.touch {
    text-decoration-line: line-through;
    color: gainsboro;
}

/* 一時的なメモ用 */
.temp_memo{
    width: 100%;
}

/* 長いカッコを隠すボタン用 */
.folding_box {
    color: darkgray;
}

.folding_box > span {
    display: none;
}

.folding_box.touch > span {
    display: inline;
    color: black;
}

/* 折り畳み機能と暗記マーカーがかぶる時の対策 */
.span-memory
{
    padding-left: 2em;
    padding-right: 2em;
}

/* 老眼対策のため行間を広げる */
.redactor-editor * {
    line-height: 1.8em !important;
}